<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Edit Character</ion-title>
	</ion-navbar>
</ion-header>


<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col col-12 col-md>
				<ion-card>
					<ion-card-header>
						Person
					</ion-card-header>
					<ion-card-content>
						<form [formGroup]="personForm">
							<ion-item>
								<ion-label color="primary" floating>Name</ion-label>
								<ion-input formControlName="name" type="text"></ion-input>
							</ion-item>
							<ion-item>
								<ion-label color="primary" floating>Metatyp</ion-label>
								<ion-input formControlName="metatype" type="text"></ion-input>
							</ion-item>
							<ion-item>
								<ion-label color="primary" floating>Größe</ion-label>
								<ion-input formControlName="height" type="text"></ion-input>
							</ion-item>
							<ion-item>
								<ion-label color="primary" floating>Gewicht</ion-label>
								<ion-input formControlName="weight" type="text"></ion-input>
							</ion-item>
							<ion-item>
								<ion-label color="primary" floating>Alter</ion-label>
								<ion-input formControlName="age" type="number"></ion-input>
							</ion-item>
						</form>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col col-12 col-md>
				<ion-card>
					<ion-card-header>
						Attribute
					</ion-card-header>
					<ion-card-content>
						<form [formGroup]="attributeForm">
							<ion-item>
								<ion-label color="primary" floating>KON</ion-label>
								<ion-input formControlName="kon" type="number"></ion-input>
							</ion-item>
							<ion-item>
								<ion-label color="primary" floating>GES</ion-label>
								<ion-input formControlName="ges" type="number"></ion-input>
							</ion-item>
							<ion-item>
								<ion-label color="primary" floating>REA</ion-label>
								<ion-input formControlName="rea" type="number"></ion-input>
							</ion-item>
							<ion-item>
								<ion-label color="primary" floating>STR</ion-label>
								<ion-input formControlName="str" type="number"></ion-input>
							</ion-item>
							<ion-item>
								<ion-label color="primary" floating>WIL</ion-label>
								<ion-input formControlName="wil" type="number"></ion-input>
							</ion-item>
							<ion-item>
								<ion-label color="primary" floating>LOG</ion-label>
								<ion-input formControlName="log" type="number"></ion-input>
							</ion-item>
							<ion-item>
								<ion-label color="primary" floating>INT</ion-label>
								<ion-input formControlName="int" type="number"></ion-input>
							</ion-item>
							<ion-item>
								<ion-label color="primary" floating>CHA</ion-label>
								<ion-input formControlName="cha" type="number"></ion-input>
							</ion-item>
						</form>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col col-12 col-md>
				<ion-card>
					<ion-card-header>
						Limit
					</ion-card-header>
					<ion-card-content>
						<form [formGroup]="limitForm">
							<ion-item>
								<ion-label color="primary" floating>Körperliches Limit</ion-label>
								<ion-input formControlName="physical" type="number"></ion-input>
							</ion-item>
							<ion-item>
								<ion-label color="primary" floating>Geistiges Limit</ion-label>
								<ion-input formControlName="mental" type="number"></ion-input>
							</ion-item>
							<ion-item>
								<ion-label color="primary" floating>Sozials Limit</ion-label>
								<ion-input formControlName="social" type="number"></ion-input>
							</ion-item>
						</form>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-12>
				<button ion-button block color="primary" (click)="save()">Speichern</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>