<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Runlog</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let run of this.char.runs">
        <ion-card-header><h1>{{run.date}}</h1></ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    {{run.title}}
                </ion-item>
                <ion-item>
                    <ion-icon name="md-people"></ion-icon>
                        {{run.characters}}<br>
                </ion-item>
                <ion-item *ngIf="run.story">
                        <ion-icon name="md-book"></ion-icon>
                        {{run.story}}
                </ion-item>
                <ion-item *ngIf="run.notes">
                        <ion-icon name="md-attach"></ion-icon>
                        {{run.notes}}
                </ion-item>
                <a ion-item href="{{run.runlog}}" *ngIf="run.runlog">
                        <ion-icon name="md-at"></ion-icon>
                        Runlog
                </a>
                <ion-item>
                        <ion-icon name="logo-yen"></ion-icon>
                        {{run.money}} ¥, {{run.karma}} Karma
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>