<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Dossier</h3>
  <p>
    Speichert Daten über eure Runner als wärt ihr ein AAA-Konzern.
  </p>
  <h4>Charaktere</h4>
  <p>
    Erstellt eure Runner unter [hier link einfügen] online und exportiert sie auf's Smartphone !<br>
    Teilt eure Charaktere mit dem Meister oder holt euch Feedback von <a href="mailto:benni">professionellen Min-Maxern !</a>
  </p>
  <h4>Runlog</h4>
  <p>
    Jedes mal wenn ein Char einen Run überlebt könnt ihr hier einen Eintrag erstellen, der Datum, Belohnung und Karma festhält.
  </p>
  <h4>Ausrüstung</h4>
  <p>
    Wenn ihr euer mühsam verdientes Geld auf'n Kopf haut könnt ihr hier festhalten wofür ihr es verschwendet !
  </p>
  <ion-grid>
    <ion-row>
      <ion-col>          
          <ion-item text-center>
              <input name="upload" type="file" (change)="loadCharacter($event.target.files[0])" id="file-input" style="opacity: 0"/>
              <button ion-button block icon-left default>
                  <ion-icon name="cloud-upload"></ion-icon>
                  Importieren
              </button>
          </ion-item>
      </ion-col>
      <ion-col>  
          <ion-item text-center>
              <a name="download" [href]="this.dataStr" download="char.json" (click)="exportCharacter($event)" id="file-input" style="opacity: 0">Export me</a>      
              <button ion-button block icon-right default>
                  Exportieren
                  <ion-icon name="cloud-download"></ion-icon>
                </button>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row col-12 text-center *ngIf="this.recentFiles.length!=0">
        <h3>Recent Characters:</h3>
    </ion-row>
    <ion-row *ngFor="let file of this.recentFiles">
      <ion-col col-12 text-center>
        <button ion-button round outline (click)="loadCharacter(file)">
            {{file.name}}
        </button>
      </ion-col>
    </ion-row>
    <ion-row col-12 text-center *ngIf="this.recentFiles.length!=0">
      <ion-col col-12>
        <button ion-button round outline color="danger" (click)="this.recentFiles=[]">
          Clear
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
