page-equipment {
    .equipment-header{
        border-top:none;
        background-color:#e4e2cb;
        color:black;
    }
    ion-list{
        margin-top:30px!important;
    }
    ion-list:first-child{
        margin-top:0px!important;
    }
}
