<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Ausrüstung</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let category of this.equipmentCategories">
        <ion-list-header class="equipment-header">
            {{category[0].category}}
        </ion-list-header>
        <ion-card *ngFor="let equipment of category">
	    <ion-card-header>
		{{equipment.name}}
	    </ion-card-header>
            <ion-card-content>
                {{equipment.description}}
            </ion-card-content>
        </ion-card>
    </ion-list>

</ion-content>
