<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{this.characterProvider.getCharacter().name}}</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <ion-card>
                    <ion-card-content>
                      <ion-grid>
                        <ion-row>
                          <ion-col>
                              <ion-list text-center>
                                  <p><strong>Metatyp:</strong> {{this.characterProvider.getCharacter().metatype}}</p>
                                  <p><strong>Größe:</strong>{{this.characterProvider.getCharacter().height}} </p>
                                  <p><strong>Alter:</strong> {{this.characterProvider.getCharacter().age}}</p>
                                  <p><strong>Gewicht:</strong> {{this.characterProvider.getCharacter().weight}}</p>      
                                </ion-list>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                  <ion-card>
                    <ion-card-content style="white-space: normal;">
                        <ion-grid>
                            <ion-row>
                                <ion-col style="white-space: normal;" col-4 *ngFor="let attribute of this.characterProvider.getCharacter().attributes"><strong>{{attribute.name}}</strong> {{attribute.natural}} </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col><strong>Essenz</strong> {{this.characterProvider.getCharacter().essence}}</ion-col>
                                <ion-col *ngIf="this.characterProvider.getCharacter().magic"><strong>Magie</strong> {{this.characterProvider.getCharacter().magic}}</ion-col>
                                <ion-col *ngIf="this.characterProvider.getCharacter().renonance"><strong>Resonanz</strong> {{this.characterProvider.getCharacter().resonance}}</ion-col>          
                            </ion-row>
                          </ion-grid>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>    
          </ion-grid>
        </ion-col>
        <ion-col> <!-- 2nd col of outer grid -->
            <ion-col>
                <ion-card text-center>
                    <ion-card-content>
                        <ion-item text-center>
                            <ion-img height="250" width="250" src="assets/imgs/portrait.png"></ion-img>
                        </ion-item>
                    </ion-card-content>
                  </ion-card>
            </ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-card>
              <ion-card-content style="white-space: normal;">
                <ion-grid>
                    <ion-row> <!-- Header -->
                      <ion-col col-3><strong>Name</strong></ion-col>
                      <ion-col col-1 text-center><strong>Loyalität</strong></ion-col>
                      <ion-col col-1 text-center><strong>Einfluss</strong></ion-col>
                      <ion-col col-2><strong>Typ</strong></ion-col>
                      <ion-col col-5><strong>Beschreibung</strong></ion-col>
                    </ion-row>
                  <ion-row *ngFor="let contact of this.characterProvider.getCharacter().contacts"> <!-- Header -->
                    <ion-col col-3>{{contact.name}}</ion-col>
                    <ion-col col-1 text-center>{{contact.loyality}}</ion-col>
                    <ion-col col-1 text-center>{{contact.connection}}</ion-col>
                    <ion-col col-2>{{contact.type}}</ion-col>
                    <ion-col col-5>{{contact.description}}</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 col-sm>
            <ion-card>
                <ion-card-content style="white-space: normal;">
                  <ion-grid>
                    <ion-row>
                      <ion-col><strong>Körperliches<br>Limit:</strong> {{this.characterProvider.getCharacter().limits.physical}}</ion-col>
                      <ion-col><strong>Geistiges<br>Limit:</strong> {{this.characterProvider.getCharacter().limits.mental}}</ion-col>
                      <ion-col><strong>Soziales<br>Limit:</strong> {{this.characterProvider.getCharacter().limits.social}}</ion-col>
                      <ion-col *ngIf="this.characterProvider.getCharacter().limits.astral"><strong>Astrales<br>Limit:</strong> {{this.characterProvider.getCharacter().limit.astral}}</ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
        </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                      <ion-col><strong>Physisch:</strong> {{this.characterProvider.getCharacter().initiative.physical}}</ion-col>
                      <ion-col><strong>Astral:</strong> {{this.characterProvider.getCharacter().initiative.astral}}</ion-col>
                      <ion-col><strong>AR:</strong> {{this.characterProvider.getCharacter().initiative.ar}}</ion-col>
                      <ion-col><strong>Heiss:</strong> {{this.characterProvider.getCharacter().initiative.vr_hot}}</ion-col>
                      <ion-col><strong>Kalt:</strong> {{this.characterProvider.getCharacter().initiative.vr_cold}}</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 col-sm>
            <ion-grid>
              <ion-row>
                <ion-col col-12>
                  <ion-card>
                    <ion-card-header>Vor/Nachteile:</ion-card-header>
                    <ion-card-content>
                      <ion-grid>
                        <ion-row>
                          <ion-col col-auto *ngFor="let quality of this.characterProvider.getCharacter().qualities">{{quality.name}}</ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>
                  <ion-card>
                      <ion-card-header>Wissensfertigkeiten:</ion-card-header>
                      <ion-card-content>
                          <ion-grid>
                              <ion-row  *ngFor="let skill of this.characterProvider.getCharacter().skills | aktionFilter : {type:'Wissen'}">
                                  <ion-col col-8><strong>{{skill.name}}</strong></ion-col>
                                  <ion-col col-1>{{skill.rank}}</ion-col>               
                                  <ion-col col-3>{{skill.dicepool}}</ion-col>               
                                </ion-row>
                            </ion-grid>      
                      </ion-card-content>
                    </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col>
              <ion-card>
                <ion-card-header>Aktionsfertigkeiten:</ion-card-header>
                <ion-card-content>
                    <ion-grid>
                        <ion-row  *ngFor="let skill of this.characterProvider.getCharacter().skills | aktionFilter : {type:'Aktion'}">
                          <ion-col col-8><strong>{{skill.name}}</strong></ion-col>
                          <ion-col col-1>{{skill.rank}}</ion-col>               
                          <ion-col col-3>{{skill.dicepool}}</ion-col>               
                        </ion-row>
                      </ion-grid>      
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
    </ion-grid>
      <ion-fab right bottom>
          <button ion-fab color="primary"><ion-icon name="md-arrow-dropleft"></ion-icon></button>
          <ion-fab-list side="left">
            <!--<button ion-fab (click)="openEdit()"><ion-icon name="md-create"></ion-icon></button>-->
            <button ion-fab><ion-icon name="md-share"></ion-icon></button>
          </ion-fab-list>
      </ion-fab>
  </ion-content>
  
